@(toDo: ToDo)

<div class="col-sm-6 col-sm-offset-3">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Edit To-Do List</div>
        <div class="card-body">
            <form method="POST" action="@routes.ToDoController.editToDo(toDo.getId())">
                @helper.CSRF.formField
                <div class="row">
                    <div class="col-sm-4">Title</div>
                    <div class="col-sm-8">
                        <input class="form-control input-sm" maxlength="50" name="title" type="text" value="@toDo.getTitle()">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">Task</div>
                    <div class="col-sm-8">
                        <textarea class="form-control input-sm" minlength="1" name="task" type="text" val>@toDo.getTask()</textarea>
                    </div>
                </div>
                <br/>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>